source ~/.vimrc

nnoremap <leader>C :edit ~/.ideavimrc<cr>
set relativenumber

nmap <C-h> :tabprevious<cr>
nmap <C-l> :tabnext<cr>

" overwrite unsupported mappings
unmap <Space><Space>
unmap <leader>gr
unmap <leader>ll
unmap <leader>hn
unmap <leader>ln
unmap <leader>kn
unmap <leader>jn
unmap <Leader>hh
unmap <leader>ll
unmap <leader>kk
unmap <leader>jj
unmap <leader>h<Enter>
unmap <leader>l<Enter>
unmap <leader>k<Enter>
unmap <leader>j<Enter>
nnoremap <leader>n :NERDTreeFind<cr>

nmap <leader>R <Action>(Run)
nmap <leader>c <Action>(Stop)

nmap <leader>g <Action>(ShowIntentionActions)
nmap <leader>gq <Action>(ReformatCode)
nmap <leader>re <Action>(RenameElement)
nmap <leader>rf <Action>(RenameFile)

nmap <Space><Space> <Action>(SearchEverywhere)
nmap <leader>f <Action>(FindInPath)
nmap <leader>H <Action>(Vcs.ShowTabbedFileHistory)

nmap <C-p> <Action>(GotoFile)
nmap <C-j> <Action>(GotoNextError)
nmap <C-k> <Action>(GotoPreviousError)
nmap <leader>ga <Action>(GotoAction)
nmap <leader>gi <Action>(GotoImplementation)
nmap <leader>gs <Action>(GotoSuperMethod)
nmap <leader>gd <Action>(GotoDeclaration)
nmap <leader>gt <Action>(GotoTest)
nmap <leader>gr <Action>(GotoRelated)

nmap <leader>b <Action>(ToggleLineBreakpoint)
nmap <leader>o <Action>(FileStructurePopup)

nmap <leader>v <Action>(SplitVertically)
nmap <leader>h <Action>(PrevSplitter)
nmap <leader>l <Action>(NextSplitter)
nmap <leader><Enter> <Action>(ActivateTerminalToolWindow)
nmap <leader>z <Action>(ToggleDistractionFreeMode)
